/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.sheet1{
    background-color: pink;
}

/* **************************************************** */
body{
  /* width: 960px; */
  /* margin: 0px auto; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
	color: #777;
	background-color: #ccc;
	/* background: url("../images/concrete_seamless.png"); */
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	clear: both;
}
.Psychic{
	background-color: #000;
}
.Psychic > img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* width: 15%;  */
}

.main-header{
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: 400;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 40px;

}

.text-center{
	color: aliceblue;
	background-color: #000;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: 400;
	
}
.game-inst{
	/* border: 1px solid #777; */
	margin-top: 1px;
	color:#000;
	background-color: #ccc;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: 400;
	text-align: center;
}
.footer{
margin-top: 120px;	
height: 10px;
text-align: center;
right: 0;
left: 0;
/* bottom: 10px; */
/* position: absolute; */
background: #ccc;
text-align: center;
font-size: 18px;
color: #4A5BD2;
padding: 1rem;

}


/*MEDIA QUERIES*/

@media screen and (max-width: 960px){


	.footer{
		/* margin-top: 10px;	 */
	}

}


@media only screen and (max-width: 768px){

	.footer{
		margin-top: 10px;	
	}	

}


@media only screen and (max-width: 640px){

	.footer{
		margin-top: 10px;	
	}	




}



/* //get the element thas has an id of lettertable
var el = document.getElementById('lettertable')

// replace the content of that element with the new value
el.textContent = letterUser;

var elGuessesLeft = document.getElementById('guessesLefttable');
elGuessesLeft.textContent = guessesLeft

 */


